* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.expense-item {
  background-color: rgb(250, 217, 174);
  color: #232323;

  max-width: 1000px;
  width: 90%;

  margin: 10px 10px;

  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.expense-item__date {
  flex-direction: column;
}
.expense-item__description {
  flex-grow: 3;
}
