.expense-item__date {
  flex-direction: column;
  border: solid 1px #ddd3d3;
  border-radius: 10px;

  margin: 10px;

  background-color: rgb(20, 26, 26);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 100px;
}
